.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--SecondColor1);
}
.navContent{
    width: 100%;
    height: 120px;
    background-color: red;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.inputContainer {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
}

.inputContainer label {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.items {
    width: 100%;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.total {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #007bff;
    color: white;
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
        gap: 15px;
    }

    .card {
        width: 100%;
        /* background-color: red; */
        margin-top: 50px;

    }
    
}
