:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color:#274546;
  
  --PrimaryColor1: #EFEEE5;
  --SecondColor1: #274546;
  
  --PrimaryColor2: #FBF8F3;
  --SecondColor2: #232323;
  
  --PrimaryColor3: #006A6A;
  --SecondColor3: #FFFCF6;
  
  --PrimaryColor4: #F2F4F6;
  --SecondColor4: #AFC9DC;
  
  --PrimaryColor5: #2D0B00;
  --SecondColor5: #FFF0EB;
 
  --PrimaryColor6: #064439;
  --SecondColor6: #EEE7CE;
 
  --PrimaryColor7: #6A0000;
  --SecondColor7: #FBE3D1;
}